.header-wrap {
    margin: auto !important;
    /* margin-top: 1% !important; */
    width: 90% !important;
    /* background-color: aqua !important; */
    height: 10vh !important;
    align-items: center !important;
}

.nav-option {
    text-decoration: none;
}
